body {
    margin: 0;
    padding: 20px;
    background-color: #f0f8ff; 
}
#programa {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#boton{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(195, 53%, 60%);
    font-weight: bold;
    cursor: pointer;
}
#boton:hover{
    background-color: hsl(195, 53%, 70%);
}
#boton:active{
    background-color: hsl(195, 53%, 80%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#resultado{
    margin: 25px;
    font-size: 1.8rem;
    color: #333;
}
#imagenes img{
    margin: 5px;
    width: 150px;
    max-width: 90vw;
}
