    body{
    margin: 69px;
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    margin: 100px;
}
.item{
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
   
    
  
   
}
